<div class="hero-box">
  <h1>Welcome to CSE Motors!</h1>
  <div class="hero-img-box">
    <img src="/images/vehicles/adventador.jpg" alt="Lamborgini Aventador" />

    <div class="hero-button-box">
      <h2>DMC Lamborgini Aventador</h2>
      <h3>3 Cup Holders</h3>
      <h3>Leather Seats</h3>
      <h3>Massive Flex</h3>
      <form action="#">
        <button type="submit">Own Today!</button>
      </form>
    </div>
  </div>
</div>

<div class="delorean-box">
  <div class="upgrades-box">
    <h1>Aventador Upgrades</h1>

    <div class="features-box">
      <div class="flux-capacitor-box">
        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
        <a href="#">Flux Capacitor</a>
      </div>

      <div class="flame-decals-box">
        <img src="/images/upgrades/flame.jpg" alt="Flame Decal" />
        <a href="#">Flame Decal</a>
      </div>

      <div class="bumper-box">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker" />
        <a href="#">Bumper Stickers</a>
      </div>

      <div class="hub-caps-box">
        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
        <a href="#">Hub Caps</a>
      </div>
    </div>
  </div>

  <div class="reviews-box">
    <h1>DMC Aventador Reviews</h1>
    <ul>
      <li>"Sleek design, roaring engine, a true supercar icon."</li>
      <li>
        "Aggressive looks, blistering performance, the Aventador is unmatched."
      </li>
      <li>
        "Uncompromising performance and precision handling define the
        Aventador."
      </li>
      <li>
        "A symphony of power and style, the Aventador is automotive perfection."
      </li>
      <li>
        "The Aventador is a technological marvel and a driving masterpiece."
      </li>
    </ul>
  </div>
</div>
